body {
    margin:0;
    padding:0;
}

.logo{
    border:none;
    margin:4px;
    margin-left: 8px;
    background: #193B70;
}

.header {
    width: 100%; /* Фиксированная ширина контейнера */
    display: block; /* Или можете использовать display: inline-block; */
    background: #193B70;
    height: 52px;
    position:fixed;
    z-index: 9999;
}

.header1 {
    width: 100%; /* Фиксированная ширина контейнера */
    display: block; /* Или можете использовать display: inline-block; */
    background: #193B70;
    height: 52px;
}

.navigation_bar {
    display:inline-block;
 }

.navi_button1 {
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    background: #E3E4E5;
    border:none;
    border-radius:7px;
    padding: 0.6em 1em;
}

.username_label {
    position: relative;
    color: white;
    font-family:sans-serif;
    font-size:14px;
}

.post {
    padding: 5px;
    position:relative;
    display:inline-block;
    float: right;
    line-height: 25px;
}
.text_login_form {
    padding: 0 0 0 7px;
    margin: 0 0.5em 0 0;
    border-radius: 4px;
    border: none;
    line-height: 40px;
    font-size: 14px;
}

.timetable_background{
    position:fixed;
    background: #A7C5FF;
    height: 100vh;
    width: 100vw;
    z-index:-111;
}

.timetable_name{
    position:relative;
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    padding: 10px;
}

.timetable_left_bar{
    position: fixed;
    display:flex;
    justify-content: left;
    height: 100vh;
    width:15vw;
    background: #efeeef;
}

.schedule-border {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.schedule {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(7, 1fr);
   gap: 1px;
   border: 1px solid #000;
}

.schedule-item {
    border: 1px solid #000;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    display: inline;
}

button {
    margin-left: 10px;
}
h1{margin-left: 10px;}
h2{margin-left: 10px;}
h3{margin-left: 10px;}