<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mami.css') }}">
    <title>Список уроков</title>
    <style>
        #hiddenDiv {
            display: none;
        }
    </style>
</head>
<body>
<div class="global">
    <div class="left-side-block">
        <div class="name-block">Расписание</div>
        {% for day, data in grouped_data.items() %}
        <div class="day" data-day="{{day}}" id="clickableDiv">День: {{ day }}</div>
        {% endfor %}
    </div>
    <div class="middle-side-block" id="hiddenDiv">
        <div class="name-block">Занятия</div>
    </div>
</div>
<script>
    // Преобразуем данные в JSON-формат
    var groupedData = {{ grouped_data|tojson|safe }};
    console.log(groupedData);
    document.querySelectorAll('.day').forEach(item => {
        item.addEventListener('click', event => {
            var day = event.target.getAttribute('data-day'); // Здесь нужно получать значение data-day, а не просто 'day'
            var hiddenDiv = document.getElementById('hiddenDiv');
            console.log(day);
            // Очищаем текущий контент
            hiddenDiv.innerHTML = '<div class="name-block">Занятия</div>';

            // Получаем данные для выбранного дня
            var dayData = groupedData[day];

            // Генерируем HTML для выбранного дня
            if (dayData) {
                dayData.objects.forEach(item => {
                    var lessonHtml = `
                    <div>
                        <form method="post" action="{{ url_for('main', token=token) }}">
                            <input type="hidden" name="id_lesson" value="${item.id}">
                            <div class="lesson">
                                <div class="top-block">${item.start.substring(11, 16)} - ${item.end.substring(11, 16)}</div>
                                <div class="lesson-type">${item.name}</div>
                                <p>${item['course-name']}</p>
                                <p>id: ${item.id}</p>
                                <button type="submit">Update</button>
                            </div>
                        </form>
                    </div>`;
                    hiddenDiv.innerHTML += lessonHtml;
                });
            }

            // Показываем скрытый div
            hiddenDiv.style.display = 'block';
        });
    });
</script>
</body>
</html>